
<ht-form name="otherform">
    <ht-input  ht-id="recId" name="记录流水ID" ng-model="otherform.recId" disable="true"></ht-input>
    <ht-input ht-id="rltNo" name="关联流水号" ng-model="otherform.rltNo" disable="true"></ht-input>
    <ht-input ht-id="chkPlId" name="拦截方案ID" ng-model="otherform.chkPlId" disable="true"></ht-input>
    <ht-input ht-id="chkItId" name="拦截项编号" ng-model="otherform.chkItId" disable="true"></ht-input>
    <ht-input ht-id="nm" name="拦截项名" ng-model="otherform.nm" disable="true"></ht-input>
    <ht-input ht-id="ord" name="排序号" ng-model="otherform.ord" disable="true"></ht-input>
    <ht-input ht-id="deal" name="处理方式" ng-model="otherform.deal" disable="true"></ht-input>
    <ht-input ht-id="rem" name="结果描述" ng-model="otherform.rem" disable="true"></ht-input>
    <ht-input ht-id="stat" name="执行结果" ng-model="otherform.stat" disable="true"></ht-input>
</ht-form>

<ht-button-group class="center">
    <ht-button ht-id="closeThisDialog" class="btn-primary">返回</ht-button>
</ht-button-group>



