
<ht-autotree option="autotree"></ht-autotree>
<!--<ht-form name="relaform" columns="1">
    &lt;!&ndash;<ht-select name="关联类型" reg-exp="common.require" ng-model="relaform.rltTyp" dictionary="rtlTyp"></ht-select>&ndash;&gt;
    &lt;!&ndash;<ht-input name="关联编号" ng-model="relaform.rltNo" disable="true" hide="{{hide}}"></ht-input>
    <ht-input name="合同流水号" reg-exp="common.require" ng-model="relaform.serialno" disable="true"></ht-input>&ndash;&gt;
    &lt;!&ndash;<ht-input name="担保合同编号" reg-exp="common.require" ng-model="relaform.conNo" disable="true"></ht-input>
    <ht-input name="数据来源渠道" reg-exp="common.require" ng-model="relaform.channel"></ht-input>
    <ht-input name="数据来源类型" reg-exp="common.require" ng-model="relaform.typ"></ht-input>
    <ht-select name="他项权证状态" reg-exp="common.require" ng-model="relaform.stat" dictionary="stat"></ht-select>
    <ht-input name="他项权证号" reg-exp="common.require" ng-model="relaform.othGntyRid"></ht-input>
    <ht-input name="担保债权金额" reg-exp="common.require" ng-model="relaform.gntySum" edit-type="currency"></ht-input>
    <ht-input name="受偿次序" reg-exp="common.require" ng-model="relaform.payOrd"></ht-input>
    <ht-text-area name="他项权证内容" reg-exp="common.require" ng-model="relaform.des"></ht-text-area>&ndash;&gt;
    <ht-input-extent ht-id="gntyTyp" name="抵押物类型" reg-exp="common.require" extent="gntyTypcontent" readonly="true"
                     on-change="gntyTypextend" ng-model="relaform.gntyTyp" disable="{{disableview}}"></ht-input-extent>

</ht-form>-->

<ht-button-group class="center">
    <ht-button ht-id="confirm" class="btn-primary" disable="{{disable}}">确定</ht-button>
    <ht-button ht-id="closeThisDialog" class="btn-primary">取消</ht-button>
</ht-button-group>