<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ------------公共css--------------------- -->

    <script src="../../scube_ui/common/importCs.js"></script>



    <!-- ------------业务css--------------------- -->

</head>
<body>
<div ng-controller="offMngGuideController">
    <ht-legend>任务基本信息</ht-legend>
    <ht-form name="taskform">
        <ht-input name="流程名称" ng-model="taskform.processTemplateName" disable="true"></ht-input>
        <ht-input name="申请发起时间" ng-model="taskform.startTaskDate" edit-type="date" disable="true"></ht-input>
        <ht-input ht-id="startTlrcdName" name="经办人" ng-model="taskform.startTlrcdName" disable="true"></ht-input>
        <ht-input ht-id="startBrcodeName" name="经办机构" ng-model="taskform.startBrcodeName" disable="true"></ht-input>
    </ht-form>
    <ht-legend>基本信息</ht-legend>
    <ht-form name="baseinfo">
        <ht-input name="主合同号" ng-model="baseinfo.mastContno"  reg-exp="common.require" disable="true"></ht-input>
        <ht-input name="合同币种" ng-model="baseinfo.curcd" disable="true"></ht-input>
        <ht-input name="抵/质押合同号" ng-model="baseinfo.slaveContno" disable="true"></ht-input>
        <ht-input name="出质人名称" ng-model="baseinfo.cname" disable="true"></ht-input>
        <ht-input name="监管合同号" ng-model="baseinfo.protocolNo" disable="true"></ht-input>
        <ht-input name="监管人名称" ng-model="baseinfo.prtclBrNm" disable="true"></ht-input>
    </ht-form>
    <ht-tabs>
        <ht-pane title="普通仓单解押申请"  ui-sref="offmngtaskapply">
        </ht-pane>
        <ht-pane title="质押合同"  ui-sref="offmngtaskslave">
        </ht-pane>
        <ht-pane title="仓单质押监管协议"  ui-sref="offmngtaskprotocol">
        </ht-pane>
        <ht-pane title="出质人信息"  ui-sref="offmngtaskcust">
        </ht-pane>
        <ht-pane title="监管商信息"  ui-sref="offmngtaskmonicust">
        </ht-pane>
    </ht-tabs>
</div>
<!-- ------------配置文件js，初始化全局变量--------------------- -->
<script src="../../config.js"></script>

<!-- ------------公共js--------------------- -->
<script src="../../scube_ui/common/myBrowser.js"></script>
<script src="../../scube_ui/common/importJs.js"></script>

<!-- ------------业务js--------------------- -->
<script src="../js/controllers/offmng/off_mng_guide_controller.js"></script>
<script src="../js/controllers/offmng/off_mng_apply_controller.js"></script>
<script src="../js/controllers/nwrinfo/nwrinfo_slave_controller.js"></script>
<script src="../js/controllers/nwrinfo/nwrinfo_protocol_controller.js"></script>
<script src="../js/controllers/nwrinfo/nwrinfo_cust_controller.js"></script>
<script src="../js/nwr_offmng_guide.js"></script>
</body>
</html>


