<ht-legend>表单信息</ht-legend>
<ht-form name="bCntMprotform">
    <ht-input name="货物名称" ng-model="bCntMprotform.mortgageName" disable="true"></ht-input>
    <ht-input name="押品一级" ng-model="bCntMprotform.mortgageLevelOne"  disable="true"></ht-input>
    <ht-input name="押品二级" ng-model="bCntMprotform.mortgageLevelTwo"  disable="true"></ht-input>
    <ht-input name="规格/型号" ng-model="bCntMprotform.mdlId" disable="true"></ht-input>
    <ht-input name="单位" ng-model="bCntMprotform.mortgageUnits"  disable="true"></ht-input>
    <ht-input name="数量/重量" ng-model="bCntMprotform.deal" disable="true"></ht-input>
    <ht-input name="单价" ng-model="bCntMprotform.stat" disable="true"></ht-input>
    <ht-input name="总价" ng-model="bCntMprotform.stat" disable="true"></ht-input>
</ht-form>

<ht-button-group class="center">
    <ht-button ht-id="mprotConfirm" class="btn-primary">确定</ht-button>
    <ht-button ht-id="mprotCloseDialog" class="btn-primary">取消</ht-button>
</ht-button-group>