<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <!--<ht-button-group><ht-button ht-id="submit2" desc-name="更多查询条件"></ht-button></ht-button-group>-->
    <ht-input  ht-id="cname" name="卖方名称"  ng-model="conditionForm.cname"></ht-input>
    <ht-input  ht-id="mastContcode" name="池合同号"  ng-model="conditionForm.mastContcode"></ht-input>
    <!--<ht-input  ht-id="buyerName" name="买方名称"  ng-model="conditionForm.buyerName"></ht-input>
    <ht-select ht-id="conStatus" name="合同状态" dictionary="contStatus" ng-model="conditionForm.conStatus"></ht-select>-->
    <ht-button-group>
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>合同列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-button-group>
        <ht-button ht-id="writeoffRequest"  class="btn-primary">核销申请</ht-button>
    </ht-button-group>
    <ht-column eg-name="debtContno" zh-name="池合同号"></ht-column>
    <ht-column eg-name="cname" zh-name="卖方名称"></ht-column>
    <ht-column eg-name="productName" zh-name="业务品种"></ht-column>
    <ht-column eg-name="curcd" zh-name="币种" dictionary="curcd"></ht-column>
    <ht-column eg-name="contAmount" zh-name="合同金额" type="currency"></ht-column>
    <ht-column eg-name="startDate" zh-name="合同生效日" type="date"></ht-column>
    <ht-column eg-name="endDate" zh-name="合同到期日" type="date"></ht-column>
    <!--<ht-column eg-name="mgrno" zh-name="客户经理"></ht-column>
    <ht-column eg-name="mgnoNm" zh-name="客户经理"></ht-column>
    <ht-column eg-name="brcode" zh-name="经办机构"></ht-column>
    <ht-column eg-name="inputorgname" zh-name="经办机构"></ht-column>-->
    <ht-column eg-name="contStatus" zh-name="合同状态" dictionary="contStatus"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>




