
<ht-form name="otherform">
    <ht-legend>抵质押合同信息</ht-legend>
    <ht-input name="抵/质押合同号" ng-model="otherform.conId" disable="true"></ht-input>
    <ht-input name="监管合同号" ng-model="otherform.prtclNo" disable="true"></ht-input>
    <ht-select name="业务品种" ng-model="otherform.vidPrdId" disable="true" dictionary="vidBusTyp"></ht-select>
    <ht-input name="监管公司名称" ng-model="otherform.prtclBrNm" disable="true"></ht-input>
    <ht-input name="抵/质押率(%)" ng-model="otherform.ration" disable="true"></ht-input>
    <ht-input name="市值抵/质押率警戒线(%)" ng-model="otherform.guardRat"  disable="true"></ht-input>
    <ht-input name="出质人名称" ng-model="otherform.czr" disable="true"></ht-input>
    <ht-select name="担保类型" ng-model="otherform.gutyTyp" disable="true" dictionary="gutTyp"></ht-select>
    <ht-select name="状态" ng-model="otherform.conStat" dictionary="contraceState" disable="true"></ht-select>
    <ht-select name="币种" ng-model="otherform.gutCurcd" dictionary="curcd" disable="true"></ht-select>
    <ht-input name="合同金额" ng-model="otherform.gutVal" edit-type="currency" disable="true"></ht-input>
    <ht-input name="合同生效日" ng-model="otherform.strtDt" edit-type="date" disable="true"></ht-input>
    <ht-input name="合同到期日" ng-model="otherform.endDt" edit-type="date" disable="true"></ht-input>
    <ht-input name="客户经理" ng-model="otherform.khjl"  disable="true"></ht-input>
    <ht-input name="经办机构" ng-model="otherform.jbjg"  disable="true"></ht-input>
</ht-form>
