<ht-form name ="mortgageInfo">
    <ht-input ht-id="mortgageNo" name="押品编号" disable="true" ng-model="mortgageInfo.mortgageNo"></ht-input>
    <ht-input ht-id="productName" name="货物名称" disable="{{disable}}" reg-exp="common.require" ng-model="mortgageInfo.productName"></ht-input>
    <ht-input ht-id="mortgageName" name="押品名称" disable="{{disable}}" reg-exp="common.require" ng-model="mortgageInfo.mortgageName"></ht-input>
    <ht-select ht-id="mortgageLevelOne" name="押品一级" disable="{{disable}}" reg-exp="common.require" on-change="mortgageLevelOneName" datasource="mortgageLevelOneSource" dataOption="code" dataTrsOption="codeName"  ng-model="mortgageInfo.mortgageLevelOne"></ht-select>
    <ht-select ht-id="mortgageLevelTwo" name="押品二级" disable="{{disable}}" reg-exp="common.require"on-change="mortgageLevelTwoName" datasource="mortgageLevelTwoSource" dataOption="code" dataTrsOption="codeName" ng-model="mortgageInfo.mortgageLevelTwo"></ht-select>
    <ht-input ht-id="quantity" name="数量" disable="{{disable}}" reg-exp="common.require" ng-model="mortgageInfo.quantity" edit-type="number"></ht-input>
    <ht-input ht-id="confirmPrice" name="销售价格" disable="{{disable}}" reg-exp="common.require" ng-model="mortgageInfo.confirmPrice" edit-type="currency"></ht-input>
    <ht-input ht-id="totPrice" name="总价" disable="true" ng-model="mortgageInfo.totPrice" edit-type="currency"></ht-input>
    <ht-select ht-id="mortgageUnits" name="单位" disable="{{disable}}" dictionary="mortgageUnits" ng-model="mortgageInfo.mortgageUnits"></ht-select>
    <ht-input ht-id="mortgageModel" name="押品规格/型号" disable="{{disable}}" ng-model="mortgageInfo.mortgageModel"></ht-input>
    <ht-input ht-id="qualityLevel" name="质量等级" disable="{{disable}}" ng-model="mortgageInfo.qualityLevel"></ht-input>
    <ht-input ht-id="package" name="包装" disable="{{disable}}" ng-model="mortgageInfo.packagew"></ht-input>
    <ht-input ht-id="sn" name="货物识别码" disable="{{disable}}" ng-model="mortgageInfo.sn"></ht-input>
    <ht-input ht-id="warehouseAddress" name="仓库地点" disable="{{disable}}" ng-model="mortgageInfo.warehouseAddress"></ht-input>
    <ht-select ht-id="joinBatch" name="是否参与核定价格批量调整" disable="{{disable}}" reg-exp="common.require" dictionary="joinBatch" ng-model="mortgageInfo.joinBatch"></ht-select>
</ht-form>
<ht-button-group class="center">
    <ht-button ht-id="confirm" hide={{confirm}} class="btn-primary">保存</ht-button>
    <ht-button ht-id="cancel" class="btn-primary">返回</ht-button>
</ht-button-group>