<ht-form name="otherform">
    <!--<ht-legend>差额退款通知书信息</ht-legend>-->
    <ht-input ht-id="num" name="通知书编号" ng-model="otherform.num" disable="true"></ht-input>
    <ht-input ht-id="protocolNo" name="协议号" ng-model="otherform.protocolNo" disable="true" ></ht-input>
    <ht-select ht-id="noticeType" name="通知书类型" ng-model="otherform.noticeType" dictionary="nteType" disable="true"></ht-select>
    <ht-select ht-id="status" name="通知书状态" disable="true" dictionary="noticeStatus" disable="true"
               ng-model="otherform.status"></ht-select>
    <ht-input ht-id="protocolNo" name="担保提货协议号" disable="true" ng-model="otherform.protocolNo"></ht-input>
    <ht-input ht-id="signDate" name="签发日期" ng-model="otherform.signDate" disable="true"
              edit-type="date"></ht-input>
    <ht-input ht-id="commonDate" name="回执日期" ng-model="otherform.commonDate" disable="true"
              edit-type="date"></ht-input>
    <ht-input ht-id="custName" name="买方名称" ng-model="otherform.custName" disable="true"></ht-input>
    <ht-input ht-id="otherCustName" name="卖方名称" ng-model="otherform.otherCustName" disable="true"></ht-input>
    <ht-input ht-id="tlrName" name="客户经理" ng-model="otherform.tlrName" disable="true"></ht-input>
    <ht-input ht-id="brName" name="经办机构" ng-model="otherform.brName" disable="true"></ht-input>

</ht-form>
<ht-button-group class="center">
    <ht-button ht-id="closeThisDialog" class="btn-primary">返回</ht-button>
</ht-button-group>