html{
    background-color: #242424;
}
.mymain{
    width:100%;
    padding: 1% 5%;
    background-color: #242424;
    color: #fff;
}
.mymain h1{
    margin: 0;
}
/*myain-top*/
.mymain-top-search{
    float: left;
    position: relative;
    margin-right: 64px;
}
.mymain-top-search input{
    width: 230px;
    height: 34px;
    line-height: 34px;
    background-color: #353d38;
    border: 2px solid #1c1c1c;
    padding: 0 10px;
    outline: none
}
.mymain-top-search:after{
    content: url("../images/search_01.png");
    position: absolute;
    top:10px;
    right:10px;

}
.mymain-top-search input:focus{
    border: 2px solid #22c064;
}
.mymain-logo{
    float: right;
}
.mymain-logo-arr{
    margin-left: 14px;
    cursor: pointer;
}
.mymain-top-bottom li,.mymain-bottom-bottom li{
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    position: relative;
}
.mymain-top-bottom li:first-child,.mymain-bottom-bottom li:nth-child(3),.mymain-bottom-bottom li:nth-child(8),.mymain-bottom-bottom li:nth-child(15),.mymain-bottom-bottom li:nth-child(18){
    background-color: #22c064;
}
.mymain-top-bottom li:nth-child(2),.mymain-top-bottom li:nth-child(4){
    background-color: #f7941d;
}
.mymain-top-bottom li:nth-child(3),.mymain-bottom-bottom li:nth-child(11){
    background-color: #777;
}
.mymain-top-bottom li:last-child,.mymain-bottom-bottom li:nth-child(9),.mymain-bottom-bottom li:nth-child(12){
    background-color: #151a26;
}
.mymain-top-bottom li div,.mymain-bottom-bottom li div{
    text-align: center;
}
.mymain-top-bottom .number{
    font-size: 26px;
}
/*mymain-bottom*/
.mymain-bottom-bottom li:first-child{
    background-color: #80B998;
    border: 3px dashed #18a754;
    padding-bottom: 23px;
}
.mymain-bottom-bottom li:nth-child(2),.mymain-bottom-bottom li:nth-child(7){
    background-color: #f7941d;
}
.mymain-bottom-bottom li:nth-child(4),.mymain-bottom-bottom li:nth-child(14){
    background-color: #1c57ff;
}
.mymain-bottom-bottom li:nth-child(5),.mymain-bottom-bottom li:nth-child(16){
    background-color: #e85349;
}
.mymain-bottom-bottom li:nth-child(6),.mymain-bottom-bottom li:nth-child(10),.mymain-bottom-bottom li:nth-child(17){
    background-color: #5a3fa7;
}
.mymain-bottom-bottom li:nth-child(13),.mymain-bottom-bottom li:nth-child(19){
    background-color: #8c865b;
}
.mymain-bottom-bottom li:nth-child(4),.mymain-bottom-bottom li:nth-child(5),.mymain-bottom-bottom li:nth-child(13){
    position: relative;
}
.badge{
    position: absolute;
    top:12px;
    right:12px;
    background-color: #1c1c1c !important;
}
.mymain-delete{
    width: 50px;
    height: 24px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 12px 0 0 12px;
    opacity: 0;
    transition: all .3s linear;
}
.mymain-delete:hover{
    opacity: 1;
}
.mymain-delete a{
    display: inline-block;
}
.mymain-delete a:hover{
    transform: scale(1.2);
}
.img-responsive{
    display: inline-block;
}
@media (max-width : 992px) {
    body{
        margin-bottom: 5%;
    }
}
@media (max-width: 1032px) {
    .mymain-top-bottom .number{
        display: none;
    }
}
/*长页面*/
.wrapper {height: 100%;margin: 0 auto; overflow: hidden;font-family: 黑体;}
.container .page1 {background:#FFF;}
.container .page2 {background:#FFF;}
.container .page3 {background:#F6F6F6;}
/*.container .page4 {background:#20211F;}*/
.container .page5 {background:#FFF;}
/*page1*/
.page1 .header{
    padding-left: 50px;
}
.page1 .header h1 a{
    color: #22c064;
    line-height: 100px;
    font-size: 50px;
    text-decoration: none;
    cursor: pointer;
}
.page1 .main{
    height:400px;
    background-color: #22c064;
    padding-top: 100px;
    position: relative;
}
.page1 .main .main-top{
    text-align: center;
    color: #fff;
}
.page1 .main .main-top h2{
    font-size: 32px;
}
.page1 .main .main-top p{
    font-size: 14px;
    line-height: 30px;
}
.page1 .main .main-bottom{
    width:60%;
    margin: 0 auto;
}
.page1 .main .main-bottom .userName,
.page1 .main .main-bottom .eMail,
.page1 .main .main-bottom .tel{
    width:25%;
}
.page1 .main .main-bottom .tel:before{
    content: url("../images/telephone.png");
    position: absolute;
    top:8px;
    left:8px;
}
.page1 .main .main-bottom input{
    border: none;
    width:100%;
    text-indent: 35px;
}
.page1 .main .main-bottom button{
    width:17%;
    border: none;
    background-color: #F6931C;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s linear;
}
.page1 .main .main-bottom button:hover,.page5 .main button:hover{
    transform: scale(1.1);
}
.page1 .main .main-bg{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%);
}
.page1 .main .main-bg img{
    width:400px;
}
/*page2*/
.page2,.page3{
    padding-top: 50px;
}
.page2 .header,.page3 .header{
    text-align: center;
    padding-bottom: 50px;
}
.page2 .header h2,.page3 .header h2,.page4 .header h2,.page5 .header h2{
    font-size: 32px;
    font-weight: bold;
}
.page2 .header p,.page3 .header p,.page5 .header p{
    font-size: 18px;
}
.page2 .main{
    width:80%;
    margin: 0 auto;
}
.page2 .main .main-left,.page2 .main .main-right{
    width:49%;
}
.page2 .main li{
    padding-bottom: 30px;
    transition: all .2s linear;
}
.page2 .main li .page1-icon{
    float: left;
    width: 20%;
}
.page2 .main li:hover{
    background-color: rgba(34,192,100,0.2);
    border-radius: 5px;
}
.page2 .main li img{
    transition: all .2s linear;
}
.page2 .main li:hover img{
    transform: scale(1.2);
}
.page2 .main li .text{
    width:80%;
    display: inline-block;
}
.page2 .main li .text h5{
    font-weight: bold;
    line-height: 28px;
}
.page2 .main li .text p{
    line-height: 17px;
}
/*page3*/
.page3 .main{
    width:80%;
    margin: 0 auto;
}
.page3 .main .main-left,.page3 .main .main-right{
    width:49%;
}
.page3 .main li{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.page3 .main li .page3-icon{
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
}
.page3 .main .text{
    width:65%;
    font-size: 14px;
    display: inline-block;
}
.page3 .main .text p{
    line-height: 20px;
    margin-bottom: 30px;
}
.page3 .main .text .city{
    color: #F6931C;
    margin-right: 10px;
}
.page3 .main .text .name{
    color: #8e8686;
}
/*page4*/
.page4{
    background-color: #333;
    padding: 10% 5%;
}
.page4 .header{
    color: #fff;
    text-align: center;
}
.page4 .header h2{
    margin-bottom: 32px;
}
.page4 .header p{
    font-size: 14px;
    line-height: 25px;
}
.page4 .main{
    padding-top: 10%;
    text-align: center;
}
.page4 .main a{
    text-decoration: none;
    display: inline-block;
    width: 150px;
    line-height: 50px;
    font-size: 14px;
    background: transparent;
    border: 1px solid #22c064;
    color: #fff;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
    transition: all .3s linear;
}
.page4 .main a:hover{
    background-color: #22c064;
}
/*page5*/
.page5 .header{
    margin-top: 5%;
    text-align: center;
}
.page5 .main{
    width:70%;
    margin: 32px auto 0;
    text-align: center;
}
.page5 .main input{
    width:100%;
    border: 1px solid #9D9D9D;
    text-indent: 35px;
}
.page5 .main input,.page5 .main button,
.page1 .main .main-bottom input,
.page1 .main .main-bottom button{
    float: left;
    line-height: 38px;
    border-radius: 3px;
    outline: none;
}
.page5 .main .userName,.page5 .main .eMail,
.page1 .main .main-bottom .userName,
.page1 .main .main-bottom .eMail,
.page1 .main .main-bottom .tel{
    position: relative;
    margin-right: 2%;
    float: left;
}
.page5 .main .userName{
    width: 30%;
}
.page5 .main .eMail{
    width:45%;
}
.page5 .main .userName:before,.page1 .main .main-bottom .userName:before{
    content: url("../images/username.png");
    position: absolute;
    top:8px;
    left:8px;
}
.page5 .main .eMail:before,.page1 .main .main-bottom .eMail:before{
    content: url("../images/emaill.png");
    position: absolute;
    top:8px;
    left:8px;
}
.page5 .main button{
    width:20%;
    background-color: #F6931C;
    color: #fff;
    border: none;
    font-weight: bold;
    transition: all 0.3s linear;
}
.page5 .footer{
    background: url("../images/chinamap.png") no-repeat center;
    background-size: contain;
    width: 60%;
    height: 468px;
    margin: 72px auto 0;
}
/*登陆*/
.login_box{
    background-color: #fff;
    color: #000;
    width: 400px;
    font-family: 微软雅黑;
}
#login-box .userName,#login-box .passWord{
    width:100%;
}
.login_box h1,.login_box h2{
    margin:0;
    padding: 0;
}
.login_box h1{
    line-height: 68px;
    background: #22c064;
    text-align: center;
    color: #fff;
    font-size: 32px;
}
.login_box h2{
    font-size: 18px;
    text-align: left;
    line-height: 32px;
}
.login_box form{
    padding: 0 32px 32px;
}
#login-box form a{
    text-decoration: none;
}
#login-box .inline input{
    text-indent: 10px;
    border: 1px solid #9d9d9d;
}
#login-box .inline input,#login-box form button{
    width:100%;
    line-height: 37px;
    font-size: 17px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
}
#login-box .inline input:focus{
    border: 1px solid #22c064;
}
#login-box label{
    position: relative;
    float: left;
    margin-bottom: 11px;
    font-weight: normal;
}
#login-box form img{
    position: absolute;
    top:3px;
    right:3px;
}
#login-box form button{
    border: none;
    background-color:#22c064 ;
    color: #fff;
}
.remember-pwd{
    padding-left: 34px;
    cursor: pointer;
    background: url('../images/box_checkboxes.png') no-repeat left top;
}
#remember-pwd{
    margin: 3px 3px 0 5px;
    display: none;
}
.remember-pwd.checked {
    background-position: left bottom;
}
