/*login*/
/*#login-box{  margin-top: 80px;  }*/
#login-box h1{  line-height: 68px;  }
#login-box .inline input{  padding: 5px 4px;  }
/*home*/
.col-md-1{  width:8.33%;  float: left;  }
.col-md-2{  width:16.66%;  float: left;  }
