<ht-form name ="mortgageInfo">
    <ht-input ht-id="mortgageName" name="押品名称" disable={{disable}} reg-exp="common.require" ng-model="mortgageInfo.mortgageName"></ht-input>
    <ht-input ht-id="mortgageModel" name="规格/型号" disable={{disable}} reg-exp="common.require" ng-model="mortgageInfo.mortgageModel"></ht-input>
    <ht-input ht-id="manufacturer" name="生产厂家"  disable={{disable}} reg-exp="common.require" ng-model="mortgageInfo.manufacturer"></ht-input>
    <ht-input ht-id="manufactureDate" name="出厂日期"  disable={{disable}} reg-exp="common.require" edit-type="date" ng-model="mortgageInfo.manufactureDate"></ht-input>
    <ht-select ht-id="mortgageUnits" name="单位"  disable={{disable}} reg-exp="common.require" dictionary="mortgageUnits" ng-model="mortgageInfo.mortgageUnits"></ht-select>
    <ht-input ht-id="invQuantity" name="数量/重量"  disable={{disable}} reg-exp="common.require,common.number" ng-model="mortgageInfo.invQuantity"></ht-input>
    <ht-select ht-id="curcd" name="币种" reg-exp="common.require" disable="true" dictionary="curcd" ng-model="mortgageInfo.curcd"></ht-select>
    <ht-input ht-id="price" name="买入单价"  disable={{disable}} reg-exp="common.require"edit-type="currency" ng-model="mortgageInfo.price"></ht-input>
    <ht-select ht-id="mortgageLevelOne" name="押品一级"  disable={{disable}} reg-exp="common.require" on-change="mortgageLevelOneName" datasource="mortgageLevelOneSource" dataOption="code" dataTrsOption="codeName"  ng-model="mortgageInfo.mortgageLevelOne"></ht-select>
    <ht-select ht-id="mortgageLevelTwo" name="押品二级"  disable={{disable}} reg-exp="common.require"on-change="mortgageLevelTwoName" datasource="mortgageLevelTwoSource" dataOption="code" dataTrsOption="codeName" ng-model="mortgageInfo.mortgageLevelTwo"></ht-select>
    <ht-select ht-id="mortgageLevelThree" name="押品三级"  disable={{disable}} reg-exp="common.require" datasource="mortgageLevelThreeSource" dataOption="code" dataTrsOption="codeName" ng-model="mortgageInfo.mortgageLevelThree"></ht-select>
    <ht-input ht-id="description" name="押品其他描述"  disable={{disable}} ng-model="mortgageInfo.description"></ht-input>
    <ht-input ht-id="warehouse" name="仓库名称"  disable={{disable}} reg-exp="common.require" ng-model="mortgageInfo.warehouse"></ht-input>
    <ht-input ht-id="warehouseAddress" name="仓库地址"  disable={{disable}} reg-exp="common.require" ng-model="mortgageInfo.warehouseAddress"></ht-input>
    <ht-select ht-id="moniWarehouseType" name="监管模式"  disable={{disable}} reg-exp="common.require" dictionary="monitortype" ng-model="mortgageInfo.moniWarehouseType"></ht-select>
    <ht-input ht-id="freightarea" name="货区号"  disable={{disable}} ng-model="mortgageInfo.freightarea"></ht-input>
    <ht-input ht-id="freightlot" name="货位号"  disable={{disable}} ng-model="mortgageInfo.freightlot"></ht-input>
    <ht-input ht-id="documentNo" name="提货凭证号"  disable={{disable}} ng-model="mortgageInfo.documentNo"></ht-input>
    <ht-select ht-id="joinBatch" name="是否参与核定价格批量调整"  disable={{disable}} reg-exp="common.require" dictionary="joinBatch" ng-model="mortgageInfo.joinBatch"></ht-select>
    <ht-input ht-id="memo" name="备注"  disable={{disable}} ng-model="mortgageInfo.memo"></ht-input>
</ht-form>
<ht-button-group class="center">
    <ht-button ht-id="confirm" hide={{confirm}} class="btn-primary">保存</ht-button>
    <ht-button ht-id="cancel" class="btn-primary">返回</ht-button>
</ht-button-group>