<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">

    <!--<ht-button-group><ht-button ht-id="submit2" desc-name="更多查询条件"></ht-button></ht-button-group>-->
    <ht-input ht-id="jghth" edit-type="text" name="监管合同号" ng-model="conditionForm.jghth"></ht-input>
    <ht-input ht-id="czrmc"  edit-type="text"  name="出质人名称" ng-model="conditionForm.czrmc"></ht-input>
    <ht-input ht-id="jggsmc" edit-type="text"  name="监管公司名称" ng-model="conditionForm.jggsmc"></ht-input>
    <ht-select  ht-id="ywpz" name="业务品种" dictionary="checked" ng-model="conditionForm.ywpz"></ht-select>
    <ht-button-group class="center">
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>监管合同列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="false" minheit="100px">

    <ht-button-group>
        <ht-button ht-id="excel" class="btn-primary">导表</ht-button>
        <ht-button ht-id="fresh">刷新</ht-button>
        <ht-button ht-id="add">新增</ht-button>
        <ht-button ht-id="delete">删除</ht-button>
        <ht-button ht-id="update">修改</ht-button>
    </ht-button-group>
    <ht-column eg-name="jghth" zh-name="监管合同号" href="true" docolumn="column"></ht-column>
    <ht-column eg-name="jggsmc" zh-name="监管公司名称"></ht-column>
    <ht-column eg-name="ywpz" zh-name="业务品种"></ht-column>
    <ht-column eg-name="htsxrq" zh-name="合同生效日期" type="date"></ht-column>
    <ht-column eg-name="htxxrq" zh-name="合同失效日期" type="date"></ht-column>
    <ht-column eg-name="khjl" zh-name="客户经理"></ht-column>
    <ht-column eg-name="jbjg" zh-name="经办机构"></ht-column>
    <ht-column eg-name="htzt" zh-name="合同状态"  dictionary="checked"></ht-column>
    <ht-column eg-name="remark1" zh-name="备注1"></ht-column>
    <ht-column eg-name="remark2" zh-name="备注2"></ht-column>
    <ht-column eg-name="remark3" zh-name="备注3"></ht-column>

</ht-table>
<ht-page table-id="tableId" conf="conf"></ht-page>
<!--<ht--position batchNo="1" bindName="abc"/>-->




