<ht-form name="updateTreeForm"  columns="2">
    <ht-input ht-id="linId" name="额度ID" ng-model="updateTreeForm.linId"   disable="true"  ></ht-input>
    <ht-select ht-id="linTyp"  name="类型" ng-model="updateTreeForm.linTyp"      dictionary="crdlinTyp"   disable="true"  reg-exp="common.require"></ht-select>
    <ht-select ht-id="circFlag" name="循环标志" ng-model="updateTreeForm.circFlag"   dictionary="circFlag"   disable="true"   reg-exp="common.require" ></ht-select>
    <ht-input ht-id="busNm" name="授信品种" ng-model="updateTreeForm.busNm"   reg-exp="common.require"   hide="{{busNmhide}}" ></ht-input>
    <ht-select ht-id="busTyp"  name="授信品种"    ng-model="updateTreeForm.busTyp"   dictionary="loanWay"    reg-exp="common.require"   hide="{{busTyphide}}" ></ht-select> 
 	<ht-select ht-id="curcd" name="币种"   dictionary="curcd"    disable="true"  ng-model="updateTreeForm.curcd" reg-exp="common.require"></ht-select>   
    <ht-input ht-id="crAmt" name="额度金额" ng-model="updateTreeForm.crAmt"   edit-type="currency"   reg-exp="common.require"></ht-input>
     <ht-input ht-id="riskAmt" name="敞口额度" ng-model="updateTreeForm.riskAmt"    edit-type="currency"  hide="true" ></ht-input>
</ht-form>
<ht-button-group align="center">
    <ht-button ht-id="confirm" desc-name="确认" class="btn-primary"></ht-button>
    <ht-button ht-id="cancel" desc-name="取消" class="btn-primary"></ht-button>
</ht-button-group>
