
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <!--<ht-button-group><ht-button ht-id="submit2" desc-name="更多查询条件"></ht-button></ht-button-group>-->
    <ht-input ht-id="custcd" name="核心厂商客户号" ng-model="conditionForm.custcd"></ht-input>
    <ht-input ht-id="cname"  name="核心客户名称" ng-model="conditionForm.cname"></ht-input>
    <!--<ht-input ht-id="coreFlag" name="是否是核心厂商" hide="true" ng-model="conditionForm.coreFlag"></ht-input>class="center" -->
    <ht-select ht-id="custStatus" name="客户状态" dictionary="custStatus"  ng-model="conditionForm.custStatus"></ht-select>
    <ht-button-group >
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>核心厂商信息列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">

    <ht-button-group>
        <ht-button ht-id="add" class="btn-primary">新增</ht-button>
        <ht-button ht-id="delete" class="btn-primary">删除</ht-button>
        <ht-button ht-id="update" class="btn-primary">修改</ht-button>
        <ht-button ht-id="status" class="btn-primary">状态变更</ht-button>
    </ht-button-group>

    <ht-column eg-name="custcd" zh-name="核心厂商客户号"href="true" docolumn="column"></ht-column>
    <ht-column eg-name="custno" zh-name="核心客户号"></ht-column>
    <ht-column eg-name="cname" zh-name="核心厂商名称"></ht-column>
    <ht-column eg-name="orgCode" zh-name="组织机构代码"></ht-column>
    <ht-column eg-name="custStatus" zh-name="客户状态" dictionary="custStatus"></ht-column>




</ht-table>
<ht-page conf="conf"></ht-page>
<!--<ht--position batchNo="1" bindName="abc"/>-->




