<!--文件模版选择页面-->
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <ht-input name="模版编号" ng-model="baseinfo.contCode"></ht-input>
    <ht-input name="模版名称" ng-model="baseinfo.contName"></ht-input>
    <ht-button-group class="left">
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>文件类型列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-column eg-name="contCode" zh-name="类型编号" href="true" docolumn="column"></ht-column>
    <ht-column eg-name="contName" zh-name="类型名称"></ht-column>
    <ht-column eg-name="inpDt" zh-name="创建时间"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>
<ht-button-group align="center">
    <ht-button ht-id="save" class="btn-primary">确定</ht-button>
    <ht-button ht-id="back" class="btn-primary">返回</ht-button>
</ht-button-group>



