<div style="padding: 20px 20px 0">
    <ht-form>
            <!--reg-string="UserService.getLogin.userName"-->
        <ht-input name="备注"  ng-model="orgUser.remark"></ht-input>
        <ht-input name="用户名" ng-model="orgUser.userName"></ht-input>
        <ht-input name="编号" ng-model="orgUser.id"></ht-input>
            <!--<ht-input  edit-type="date" id="D123" high-date-id="D456"  min-date="2016-07-07" max-date="2016-07-30"  ng-model="myform.date"></ht-input>-->
    </ht-form>
    <div class="ngdialogbutton" style="text-align: center;padding:5px 0;border-top: 1px solid #ddd; ">
        <button  ng-click="confirm()">确定</button>
        <button  ng-click="closeThisDialog()">取消</button>
    </div>
</div>