<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name="conditionForm">
    <ht-input ht-id="mastContno" name="合同编号" ng-model="conditionForm.mastContno"></ht-input>
    <ht-select ht-id="supplyChainPdId" name="业务品种" datasource="productselect" dataOption="code" dataTrsOption="codeName"
               ng-model="conditionForm.supplyChainPdId"></ht-select>
    <ht-input-extent ht-id="cname" name="融资企业" extent="custcontent"
                     on-change="dooextend" ng-model="conditionForm.cname"></ht-input-extent>
    <ht-input-extent ht-id="businessName" name="贸易对手" extent="busiContent" on-change="busiExtent"
                     ng-model="conditionForm.businessName"></ht-input-extent>
    <ht-button-group class="left">
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>
<ht-legend>待确认合同列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">

    <ht-button-group>
        <ht-button ht-id="edit" class="btn-primary">编辑</ht-button>
        <ht-button ht-id="view" class="btn-primary">查看</ht-button>
        <ht-button ht-id="submitApply" class="btn-primary" disable="{{flowsubmitdisable}}">生效</ht-button>
    </ht-button-group>
    <ht-column eg-name="mastContno" zh-name="合同编号" href="true" docolumn="column"></ht-column>
    <ht-column eg-name="supplyChainPdId" zh-name="业务品种" dictionary="vidBusTyp"></ht-column>
    <ht-column eg-name="cname" zh-name="融资企业"></ht-column>
    <ht-column eg-name="businessName" zh-name="贸易对手"></ht-column>
    <ht-column eg-name="contStatus" zh-name="合同状态" dictionary="appTyp"></ht-column>
    <ht-column eg-name="tlrnm" zh-name="创建人"></ht-column>
    <ht-column eg-name="brname" zh-name="创建机构"></ht-column>
    <ht-column eg-name="inpDt" zh-name="创建时间" type="date"></ht-column>
</ht-table>
<ht-page conf="conf" style="height: 50px;padding-top: 5px"></ht-page>