<ht-form name="fileupload">
    <ht-legend>文件上传</ht-legend>
    <ht-input name="文件名称" ng-model="fileupload.picName"></ht-input>
    <!--<ht-select name="文档格式" ng-model="fileupload.picType" dictionary="fileType"></ht-select>-->
    <ht-button-group class="left">
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>
<ht-legend>文件上传</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-button-group>
        <ht-file type="upload" option="uploadoption" hide="{{hide}}"></ht-file>
        <!--<ht-button ht-id="download" class="btn-primary">下载</ht-button>-->
        <ht-file type="download" option="downloadoption"></ht-file>
        <ht-button ht-id="delete" class="btn-primary" hide="{{hide}}">删除</ht-button>
    </ht-button-group>
    <ht-column eg-name="picId" zh-name="文件流水号"></ht-column>
    <ht-column eg-name="picName" zh-name="文件名"></ht-column>
    <ht-column eg-name="expiryDate" zh-name="上传时间"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>

<span style="color:red;font-size: 10px">注意：文件名称中文不得超过12位,其它字符不得超过45位</span>