<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name="conditionForm">
    <ht-input ht-id="cname" name="买方名称" ng-model="conditionForm.cname"></ht-input>
    <ht-input ht-id="protocolNo" name="担保提货协议号" ng-model="conditionForm.protocolNo"></ht-input>
<!--    <ht-select ht-id="productId_Q" name="业务品种"  on-change="productId"
               datasource="productSource" dataOption="code" dataTrsOption="codeName" ng-model="conditionForm.productId_Q"></ht-select>-->
        <ht-select ht-id="productId_Q" name="业务品种" disable="true"
               datasource="productSource" dataOption="key" dataTrsOption="value"  ng-model="conditionForm.productId_Q"></ht-select>
    <ht-select ht-id="noticeType_Q" name="通知书类型"  ng-model="conditionForm.noticeType_Q"
               datasource="selectSource" datatrsoption="value" dataoption="key"></ht-select>
    <ht-select ht-id="status_Q" name="通知书状态"  ng-model="conditionForm.status_Q"
              dictionary="noticeStatus"></ht-select>
    <ht-input-extent
            name='经办机构' ht-id ='brname_Q' extent='content' on-change="dooextent"
            checkedHiden="true" readonly="true" ng-model='conditionForm.brname_Q'></ht-input-extent>
    <ht-input ht-id="signDate1_Q" high-date-id="signDate2_Q" name="签发日期 从" ng-model="conditionForm.signDate1_Q"
              edit-type="date"></ht-input>
    <ht-input ht-id="signDate2_Q" lower-date-id="signDate1_Q" name="签发日期 到" ng-model="conditionForm.signDate2_Q"
              edit-type="date"></ht-input>
    <br/>
    <ht-input ht-id="commonDate1_Q" high-date-id="commonDate2_Q" name="回执日期 从" ng-model="conditionForm.commonDate1_Q"
              edit-type="date"></ht-input>
    <ht-input ht-id="commonDate2_Q" lower-date-id="commonDate1_Q" name="回执日期 到" ng-model="conditionForm.commonDate2_Q"
              edit-type="date"></ht-input>
    <ht-button-group class="left">
        <ht-button ht-id="submit" class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort" class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>收款确认通知书列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-button-group>
        <ht-button class="btn-primary" ht-id="view">查看</ht-button>
    </ht-button-group>
    <ht-column eg-name="num" zh-name="通知书编号" href="true" docolumn="column"></ht-column>
    <ht-column eg-name="noticeType" zh-name="通知书类型" dictionary="nteType"   ></ht-column>
    <ht-column eg-name="status" zh-name="通知书状态" dictionary="noticeStatus"></ht-column>
    <ht-column eg-name="signDate" zh-name="签发日期" type="date"></ht-column>
    <ht-column eg-name="commonDate" zh-name="回执日期" type="date"></ht-column>
    <ht-column eg-name="protocolNo" zh-name="协议号"></ht-column>
    <ht-column eg-name="debetId" zh-name="借据号"></ht-column>
    <ht-column eg-name="custName" zh-name="买方名称"></ht-column>
    <ht-column eg-name="otherCustName" zh-name="卖方名称"></ht-column>
    <ht-column eg-name="lnciType" zh-name="出账品种" dictionary="lnciType"></ht-column>
    <ht-column eg-name="lnciAmt" zh-name="出账金额" type="currency"></ht-column>
    <ht-column eg-name="tlrName" zh-name="客户经理"></ht-column>
    <ht-column eg-name="brName" zh-name="经办机构"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>