
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name="conditionForm">
    <ht-input ht-id="cname_Q" name="出质人名称" ng-model="conditionForm.cname_Q"></ht-input>
    <ht-input ht-id="slaveContcode_Q" name="抵/质押合同号" ng-model="conditionForm.slaveContcode_Q"></ht-input>
    <br/>
    <ht-input ht-id="moniName_Q" name="监管公司名称" ng-model="conditionForm.moniName_Q" ></ht-input>
    <span/>
    <ht-select ht-id="checkType_Q" name="对账方式" ng-model="conditionForm.checkType_Q" dictionary="checkType"></ht-select>
    <ht-button-group class="left">
        <ht-button ht-id="submit" class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort" class="btn-primary" desc-name="重置"></ht-button>
        <ht-button ht-id="homeBack" class="btn-primary" hide="{{homeBackHide}}" desc-name="返回主页"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>对账不平预警列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-column eg-name="slaveContcode" zh-name="抵/质押合同号"></ht-column>
    <ht-column eg-name="cname" zh-name="出质人名称"></ht-column>
    <ht-column eg-name="moniCname" zh-name="监管公司名称"></ht-column>
    <ht-column eg-name="protocolNo" zh-name="监管合同号"></ht-column>
    <ht-column eg-name="productNm" zh-name="业务品种"></ht-column>
    <ht-column eg-name="mortAmt" zh-name="押品总价值" type="currency"></ht-column>
    <ht-column eg-name="checkAmt" zh-name="对账金额" type="currency"></ht-column>
    <ht-column eg-name="startDate" zh-name="对账发起日期" type="date"></ht-column>
    <ht-column eg-name="confirmDate" zh-name="对账确认日期" type="date"></ht-column>
    <ht-column eg-name="checkType" zh-name="对账方式" dictionary="checkType"></ht-column>
    <ht-column eg-name="checkResult" zh-name="对账结果" dictionary="checkResult"></ht-column>
    <ht-column eg-name="mgrNm" zh-name="客户经理" ></ht-column>
    <ht-column eg-name="brcodeNm" zh-name="经办机构"></ht-column>
    <ht-column eg-name="checkStatus" zh-name="对账状态" dictionary="checkStatus"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>