<div class="lunbo">
    <div class="wrapper">
        <div class="container focus">
            <div class="page page1">
                <div class="header">
                    <h1><a>HuaTeng</a></h1>
                </div>
                <div class="main">
                    <div class="main-top">
                        <h2>华腾金融系统</h2>
                        <p>为你提供多个金融系统平台</p>
                    </div>
                    <form class="main-bottom">
                        <div class="userName">
                            <input type="text" placeholder="用户名"/>
                        </div>
                        <div class="eMail">
                            <input type="text" placeholder="邮箱"/>
                        </div>
                        <div class="tel">
                            <input type="text" placeholder="手机"/>
                        </div>
                        <button type="submit">购买下载</button>
                    </form>
                    <div class="main-bg">
                        <img src="../../images/mac.png">
                    </div>
                </div>
                <div class="footer"></div>
            </div>
            <div class="page page2">
                <div class="header">
                    <h2>我们系统</h2>
                    <p>方便、安全、易用</p>
                </div>
                <div class="main clearfix">
                    <ul class="main-left pull-left clearfix">
                        <li class="clearfix">
                            <img src="../../images/funcicon_1.png">
                            <div class="text">
                                <h5>拥有一套自己的图标字体</h5>
                                <p>有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../images/funcicon_2.png">
                            <div class="text">
                                <h5>拥有一套自己的图标字体</h5>
                                <p>有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../images/funcicon_3.png">
                            <div class="text">
                                <h5>拥有一套自己的图标字体</h5>
                                <p>有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="main-right pull-right">
                        <li class="clearfix">
                            <img src="../../images/funcicon_4.png">
                            <div class="text">
                                <h5>拥有一套自己的图标字体</h5>
                                <p>有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../images/funcicon_5.png">
                            <div class="text">
                                <h5>拥有一套自己的图标字体</h5>
                                <p>有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../images/funcicon_6.png">
                            <div class="text">
                                <h5>拥有一套自己的图标字体</h5>
                                <p>有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer"></div>
            </div>
            <div class="page page3">
                <div class="header">
                    <h2>用户评价</h2>
                    <p>拥有大量用户群</p>
                </div>
                <div class="main clearfix">
                    <ul class="main-left pull-left clearfix">
                        <li class="clearfix">
                            <img src="../../images/headerimage_1.png">
                            <div class="text">
                                <p>
                                    <i><img src="../../images/funcicon_7.png"></i>
                                    有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的
                                    <i class="pull-right"><img src="../../images/funcicon_8.png"></i>
                                </p>
                                <span class="city">上海</span>
                                <span class="name">张章</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../images/headerimage_2.png">
                            <div class="text">
                                <p>
                                    <i><img src="../../images/funcicon_7.png"></i>
                                    有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的
                                    <i class="pull-right"><img src="../../images/funcicon_8.png"></i>
                                </p>
                                <span class="city">上海</span>
                                <span class="name">张章</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="main-right pull-right">
                        <li class="clearfix">
                            <img src="../../images/headerimage_3.png">
                            <div class="text">
                                <p>
                                    <i><img src="../../images/funcicon_7.png"></i>
                                    有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的
                                    <i class="pull-right"><img src="../../images/funcicon_8.png"></i>
                                </p>
                                <span class="city">上海</span>
                                <span class="name">张章</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../images/headerimage_4.png">
                            <div class="text">
                                <p>
                                    <i><img src="../../images/funcicon_7.png"></i>
                                    有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的，有自己的图标字体规范，有自己的
                                    <i class="pull-right"><img src="../../images/funcicon_8.png"></i>
                                </p>
                                <span class="city">上海</span>
                                <span class="name">张章</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer"></div>
            </div>
            <div class="page page4">
                <div class="header">
                    <h2>关于我们</h2>
                    <p>我们来自五湖四海，但共同的目标孕育着同一个理想，出发点不同但目的地一样，年轻的心在此刻相聚、团结一致、不离不弃、斩破风浪、勇敢起航。我们来自五湖四海，但共同的目标孕育着同一个理想，出发点不同但目的地一样，年轻的心在此刻相聚、团结一致、不离不弃、斩破风浪、勇敢起航。我们来自五湖四海，但共同的目标孕育着同一个理想，出发点不同但目的地一样，年轻的心在此刻相聚、团结一致、不离不弃、斩破风浪、勇敢起航。</p>
                </div>
                <div class="main clearfix">
                    <a href="#">更多</a>
                </div>
                <div class="footer"></div>
            </div>
            <div class="page page5">
                <div class="header">
                    <h2>分布</h2>
                    <p>分公司遍布20多个地区</p>
                </div>
                <form class="main">
                    <div class="userName clearfix">
                        <input type="text" placeholder="用户名"/>
                    </div>
                    <div class="eMail clearfix">
                        <input type="text" placeholder="邮箱"/>
                    </div>
                    <button ng-click="confirm()">进入主页</button>
                    <!--<button ng-click="closeThisDialog()">取消</button>-->
                </form>
                <div class="footer">
                </div>
            </div>
        </div>
    </div>
</div>
