<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ------------公共css--------------------- -->
    <script src="../../scube_ui/common/importCs.js"></script>
    <!-- ------------业务css--------------------- -->

</head>
<body>
<div ng-controller="repayFourWareController">
    <ht-form name="taskform">
        <ht-legend>任务基本信息</ht-legend>
        <ht-input name="流程名称" ng-model="taskform.ext2" disable="true"></ht-input>
        <ht-input name="申请发起时间" ng-model="taskform.appDate" disable="true" edit-type="date"></ht-input>
        <ht-input name="经办人" ng-model="taskform.appTlrcd" disable="true"></ht-input>
        <ht-input name="经办机构" ng-model="taskform.approveBrcode" disable="true"></ht-input>
    </ht-form>
        <ht-tabs>
            <ht-pane title="放款申请"  ui-sref="{{baseparam}}">
            </ht-pane>
            <ht-pane title="保证金列表"  ui-sref="repayacct">
            </ht-pane>
            <ht-pane title="先票款后货协议"  ui-sref="repayfourprotocol" >
            </ht-pane>
            <ht-pane title="信贷合同"  ui-sref="repaylncon">
            </ht-pane>
        </ht-tabs>
</div>
<!-- ------------配置文件js，初始化全局变量--------------------- -->
<script src="../../config.js"></script>

<!-- ------------公共js--------------------- -->
<script src="../../scube_ui/common/myBrowser.js"></script>
<script src="../../scube_ui/common/importJs.js"></script>

<!-- ------------业务js--------------------- -->
<script src="../js/bLan_fourWare_liuDai_mdle.js"></script>
<script src="../js/repay_fourWare_liuDai_controller.js"></script>
<script src="../js/info/repayFourWareDtl_controller.js"></script>
<script src="../js/info/bill_controller.js"></script>
<script src="../js/info/fourProDetail_Controller.js"></script>
<script src="../js/info/acct_controller.js"></script>
<script src="../js/info/lncon_controller.js"></script>
<script src="../js/info/fourLoanBuy_add_controller.js"></script>
<script src="../js/info/buy_add_controller.js"></script>
<script src="../js/info/buy_update_controller.js"></script>



</body>
</html>


