<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <ht-input ht-id="conId" name="担保信息流水号" ng-model="conditionForm.conId"></ht-input>
    <ht-select ht-id="gutyTyp" name="担保类型" ng-model="conditionForm.gutyTyp" dictionary="gutTyp"></ht-select>
    <ht-input-extent ht-id="gutNm" name="担保客户名称"extent="gutcontent" on-change="gutextend"
                     ng-model="conditionForm.gutNm"></ht-input-extent>
    <ht-button-group class="left">
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>
<ht-legend>抵质押合同列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-button-group>
        <ht-button ht-id="apply" class="btn-primary">出库入库申请</ht-button>
    </ht-button-group>
    <ht-column eg-name="conId" zh-name="担保信息流水号"></ht-column>
    <ht-column eg-name="conTyp" zh-name="担保合同类型" dictionary="gntyConTyp"></ht-column>
    <ht-column eg-name="gutyTyp" zh-name="担保类型" dictionary="gutTyp"></ht-column>
    <ht-column eg-name="gutNm" zh-name="担保客户名称"></ht-column>
    <ht-column eg-name="gutVal" zh-name="担保金额" type="currency"></ht-column>
</ht-table>
<ht-page conf="conf" style="height: 50px;padding-top: 5px"></ht-page>





