
<ht-form name="otherform">
    <ht-legend>单据信息</ht-legend>
    <ht-input ht-id="billsNo" name="凭证编号" reg-exp="common.require,common.billsNo"disable="{{view}}" ng-model="otherform.billsNo"></ht-input>
    <ht-select ht-id="billsType" name="凭证类型" reg-exp="common.require" dictionary="billsType"disable="{{view}}" ng-model="otherform.billsType"></ht-select>
    <ht-input ht-id="bussContcode" name="商务合同号" reg-exp="common.require,common.billsNo"disable="{{view}}" ng-model="otherform.bussContcode"></ht-input>
    <ht-input ht-id="aging" name="账期" reg-exp="common.require,common.number" disable="{{view}}" ng-model="otherform.aging"></ht-input>
    <ht-input ht-id="startDate" name="合同生效日" edit-type="date"  disable="true" ng-model="otherform.startDate"></ht-input>
    <ht-input ht-id="endDate" name="合同到期日" edit-type="date"  disable="true" ng-model="otherform.endDate"></ht-input>
    <ht-input ht-id="gracePeriod" name="宽限期" reg-exp="common.require,common.number" disable="{{view}}"  ng-model="otherform.gracePeriod"></ht-input>
    <ht-input ht-id="billsDate" name="应收账款日期" edit-type="date" reg-exp="common.require" disable="{{view}}" ng-model="otherform.billsDate"></ht-input>
    <ht-input ht-id="debtEnd" name="应收账款到期日" edit-type="date" reg-exp="common.require" disable="true" ng-model="otherform.debtEnd"></ht-input>
    <ht-input ht-id="deadline" name="最迟付款日" disable="true" edit-type="date"  reg-exp="common.require" ng-model="otherform.deadline"></ht-input>
    <ht-select ht-id="curcd" name="币种"  disable="true" dictionary="curcd" ng-model="otherform.curcd"></ht-select>
    <ht-input ht-id="billsAmountView" name="票面金额" disable="{{view}}"  reg-exp="common.require" edit-type="currency" ng-model="otherform.billsAmountView"></ht-input>
    <ht-input ht-id="billsAmount" name="有效金额" disable="{{view}}" reg-exp="common.require" edit-type="currency" ng-model="otherform.billsAmount"></ht-input>
    <ht-text-area ht-id="memo" name="备注" disable="{{view}}" ng-model="otherform.memo"></ht-text-area>
</ht-form>
<ht-button-group class="center">
    <ht-button ht-id="save"hide="{{view}}" class="btn-primary" >保存</ht-button>
    <ht-button ht-id="back" class="btn-primary">返回</ht-button>
</ht-button-group>
