<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <ht-input ht-id="conId" name="抵/质押合同号" ng-model="conditionForm.conId"></ht-input>
    <ht-input-extent ht-id="gutNm" name="出质人名称" extent="gutcontent" on-change="gutextend"
                     ng-model="conditionForm.gutNm"></ht-input-extent>
    <ht-input-extent ht-id="vidPrdNm" name="业务品种" extent="productNameContent"
                     on-change="productNamedooextent"  ng-model="conditionForm.vidPrdNm">
    </ht-input-extent>
    <ht-input ht-id="prtclBrNm" name="监管公司名称" ng-model="conditionForm.prtclBrNm"></ht-input>
    <ht-button-group class="left">
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>抵质押合同列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">

    <ht-button-group>
        <ht-button ht-id="view" class="btn-primary">查看</ht-button>
        <ht-button ht-id="update" class="btn-primary">补录</ht-button>
    </ht-button-group>
    <ht-column eg-name="conId" zh-name="抵/质押合同号" href="true" docolumn="column"></ht-column>
    <ht-column eg-name="gutNm" zh-name="出质人名称"></ht-column>
    <ht-column eg-name="conTyp" zh-name="担保类型" dictionary="gntyConTyp"></ht-column>
    <ht-column eg-name="gutVal" zh-name="抵/质押合同总金额" type="currency"></ht-column>
    <ht-column eg-name="ration" zh-name="抵/质押率(%)"></ht-column>
    <ht-column eg-name="strtDt" zh-name="合同生效日" type="date"></ht-column>
    <ht-column eg-name="endDt" zh-name="合同到期日" type="date"></ht-column>
    <ht-column eg-name="vidPrdNm" zh-name="业务品种"></ht-column>
    <ht-column eg-name="prtclNo" zh-name="监管合同号"></ht-column>
    <ht-column eg-name="prtclBrNm" zh-name="监管公司名称"></ht-column>
    <ht-column eg-name="tlrNm" zh-name="客户经理"></ht-column>
    <ht-column eg-name="brNm" zh-name="经办机构"></ht-column>
</ht-table>
<ht-page conf="conf" style="height: 50px;padding-top: 5px"></ht-page>





