
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <!--<ht-button-group><ht-button ht-id="submit2" desc-name="更多查询条件"></ht-button></ht-button-group> class="center" -->
    <ht-input ht-id="accountNo" name="账号" ng-model="conditionForm.accountNo"></ht-input>
    <ht-select ht-id="accountType"  name="账户类型" dictionary="accountType" ng-model="conditionForm.accountType"></ht-select>
    <ht-button-group >
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>账户信息列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-button-group>
        <ht-button ht-id="add" class="btn-primary" hide="{{hide}}">新增</ht-button>
        <ht-button ht-id="update" class="btn-primary" hide="{{hide}}">修改</ht-button>
         <ht-button ht-id="delete" class="btn-primary" hide="{{hide}}">删除</ht-button>
    </ht-button-group>
    <ht-column eg-name="cname" zh-name="客户名称" ></ht-column>
    <ht-column eg-name="accountType" zh-name="账户类型" dictionary="accountType" ></ht-column>
    <ht-column eg-name="accountName" zh-name="账户名称"></ht-column>
    <ht-column eg-name="accountNo" zh-name="账号" href="true" docolumn="column"></ht-column>
    <ht-column eg-name="curcd" zh-name="币种" dictionary="curcd" ></ht-column>
    <ht-column eg-name="mgrName" zh-name="客户经理" ></ht-column>
    <ht-column eg-name="brName" zh-name="经办机构"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>
<ht-button-group class="center">
    <ht-button ht-id="confuse" disable="{{disable}}" class="btn-primary">返回</ht-button>
</ht-button-group>





