<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ------------公共css--------------------- -->
    <script src="../../scube_ui/common/importCs.js"></script>
    <!-- ------------业务css--------------------- -->

</head>

<body>
<div ng-controller="stockListImportApplyGuideController">
    <ht-form name="taskform">
        <ht-legend>任务基本信息</ht-legend>
        <ht-input name="流程名称" ng-model="taskform.processTemplateName" disable="true"></ht-input>
        <ht-input name="申请发起时间" ng-model="taskform.stratDate" edit-type="date" disable="true"></ht-input>
        <ht-input ht-id="startTlrcdName" name="经办人" ng-model="taskform.startTlrcdName" disable="true"></ht-input>
        <ht-input ht-id="startBrcodeName" name="经办机构" ng-model="taskform.startBrcodeName" disable="true"></ht-input>
    </ht-form>
    <div>
        <ht-tabs>
            <ht-pane title="库存清单导入" ui-sref="stockImportApplyImport"></ht-pane>
            <ht-pane title="抵/质押合同查询" ui-sref="stockImportApplySlave"></ht-pane>
            <ht-pane title="监管合同查询" ui-sref="stockImportApplyProtocol"></ht-pane>
        </ht-tabs>

    </div>
</div>


<!-- <div ui-view>



</div> -->

<!-- ------------配置文件js，初始化全局变量--------------------- -->

<script src="../../config.js"></script>



<!-- ------------公共js--------------------- -->

<script src="../../scube_ui/common/myBrowser.js"></script>

<script src="../../scube_ui/common/importJs.js"></script>



<!-- ------------业务js--------------------- -->

<script src="../js/stockListImportApply/stockListImportApply_guide_controller.js"></script>
<script src="../js/stockListImportApplyGuid_mdle.js"></script>
<script src="../js/stockListImportApply/stockImportApply_import_controller.js"></script>
<script src="../js/stockListImportApply/stockImportMortInfo_controller.js"></script>
<script src="../js/stockListImportApply/gntycon_view_controller.js"></script>
<script src="../js/stockListImportApply/monitorProtocol_controller.js"></script>

</body>

</html>