
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <ht-input ht-id="appno" name="申请号" ng-model="conditionForm.appno"></ht-input>
<!--     <ht-select ht-id="supplyChainPdId" name="业务品种" disable="true" ng-model="conditionForm.supplyChainPdId" dictionary="productId"
               datasource="productSource" datatrsoption="productName" dataoption="productId"></ht-select> -->
    <ht-select ht-id="supplyChainPdId" name="业务品种"  ng-model="conditionForm.supplyChainPdId" dictionary="vidBusTypPool"></ht-select>
    <ht-button-group>
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="reset"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>回款申请列表</ht-legend>
    <ht-button-group>
         <ht-button ht-id="add" class="btn-primary">新增</ht-button>
         <ht-button ht-id="update" class="btn-primary">修改</ht-button>     
         <ht-button ht-id="delete" class="btn-primary">删除</ht-button>
    </ht-button-group>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true" >
    <ht-column eg-name="appno" zh-name="申请号"     href="true" docolumn="column"></ht-column>
    <ht-column eg-name="custcd" zh-name="客户号" ></ht-column>
    <ht-column eg-name="appDate" zh-name="申请日期"    type="date"></ht-column>
    <ht-column  eg-name="appliStatusDtl " zh-name="申请状态"   dictionary="stat" ></ht-column>      
</ht-table>
<ht-page conf="conf"></ht-page>






