<!--合同模版设置页面-->
<ht-form name ="baseinfo">
    <ht-panel>
        <ht-legend>产品基本信息</ht-legend>
        <ht-input ht-id="productId"  name="产品代码" ng-model="baseinfo.productId" disable="true"></ht-input>
        <ht-input ht-id="productName" name="产品名称" ng-model="baseinfo.productName" disable="true"></ht-input>
    </ht-panel>
</ht-form>

<ht-legend>合同模版绑定关系列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-button-group>
        <ht-button ht-id="upload" class="btn-primary" hide="{{hide}}">上传</ht-button>
        <ht-file type="download" option="downloadoption"></ht-file>
        <ht-button ht-id="delete" class="btn-primary" hide="{{hide}}">删除</ht-button>
    </ht-button-group>
    <ht-column eg-name="invokPhase" zh-name="调用阶段" dictionary="invokPhase"></ht-column>
    <ht-column eg-name="fileName" zh-name="模版名称"></ht-column>
    <ht-column eg-name="fileExt" zh-name="模版类型"></ht-column>
    <ht-column eg-name="inpDt" zh-name="上传时间"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>

<ht-button-group class="center">
    <ht-button ht-id="former" class="btn-primary" desc-name="上一步"></ht-button>
    <ht-button ht-id="next" class="btn-primary" desc-name="下一步"></ht-button>
    <ht-button ht-id="complete" class="btn-primary" desc-name="完成"></ht-button>
</ht-button-group>



