
<ht-form name="otherform">
    <ht-legend>组件基本信息</ht-legend>
    <ht-input ht-id="bcopNo" name="业务组件编号" disable="{{disable1}}" hide="{{hide}}"reg-exp="common.require"  ng-model="otherform.bcopNo"></ht-input>
    <ht-input ht-id="bcopName" name="业务组件名称" disable="{{disable}}"reg-exp="common.require"  ng-model="otherform.bcopName"></ht-input>
    <ht-input ht-id="bcopProg" name="组件初始化程序" disable="{{disable}}"reg-exp="common.require"  ng-model="otherform.bcopProg"></ht-input>
    <ht-radio ht-id="status" name="状态"  disable="{{disable}}" reg-exp="common.require" dictionary="productStatus" ng-model="otherform.status"></ht-radio>
   </ht-form>
<!-- hide1，当查看的时候，确定键隐藏。-->
<ht-button-group class="center">
    <ht-button ht-id="confirm" hide="{{hide1}}" class="btn-primary">确定</ht-button>
    <ht-button ht-id="closeThisDialog"class="btn-primary">取消</ht-button>
</ht-button-group>


