
<ht-form name="otherform">
    <ht-legend>抵质押合同信息</ht-legend>
    <ht-panel>
        <ht-input name="抵/质押合同号"  ng-model="otherform.conId" disable="true"></ht-input>
        <ht-select ht-id="vidPrdId" name="业务品种" datasource="selectSource" datatrsoption="value" dataoption="key"
                   disable="true" ng-model="otherform.vidPrdId"></ht-select>
        <ht-input-extent ht-id="prtclNo" name="监管合同号"   extent="prtclNoContent"
                         on-change="prtclNodooextent" ng-model="otherform.prtclNo" readonly="false" disable="{{view}}">
        </ht-input-extent>

        <ht-input name="出质人名称"  ng-model="otherform.gutNm" disable="true"></ht-input>
        <ht-input name="监管公司名称"  ng-model="otherform.prtclBrNm" disable="true"></ht-input>

        <ht-input name="抵/质押率（%）"  ng-model="otherform.ration" disable="{{view}}" ></ht-input>
        <ht-input name="市值抵/质押率警戒线（%）"  ng-model="otherform.guardRat" disable="{{view}}" ></ht-input>
        <ht-select name="担保类型"  ng-model="otherform.conTyp" dictionary="gntyConTyp" disable="{{view}}"></ht-select>
        <ht-select name="担保方式"  ng-model="otherform.gutyWay" dictionary="gutyWay" disable="{{view}}"></ht-select>
        <ht-select name="币种"  ng-model="otherform.gutCurcd" dictionary="curcd" disable="true"></ht-select>
        <ht-input name="合同金额"  ng-model="otherform.gutVal" edit-type="currency" disable="{{view}}"></ht-input>

        <ht-input ht-id="strtDt" edit-type="date" name="合同生效日" disable="{{view}}" high-date-id="endDt" 
                  ng-model="otherform.strtDt"></ht-input>
        <ht-input ht-id="endDt" edit-type="date" name="合同到期日" disable="{{view}}" lower-date-id="strtDt" 
                  ng-model="otherform.endDt"></ht-input>
        <ht-select name="合同状态"  ng-model="otherform.conStat" dictionary="crdLinStat" disable="{{view}}"></ht-select>

        <ht-input ht-id="tlrNm" name="客户经理" ng-model="otherform.tlrNm" disable="true"></ht-input>
        <ht-input ht-id="brNm" name="经办机构" ng-model="otherform.brNm" disable="true"></ht-input>
    </ht-panel>
</ht-form>
<ht-legend>押品信息</ht-legend>
<ht-table datasource="datasourcemort" selected="selectedmort" docheckbox="true" minheit="10px">
    <ht-column  eg-name="mortgageLevelOneNm" zh-name="押品一级" ></ht-column>
    <ht-column  eg-name="mortgageLevelTwoNm" zh-name="押品二级" ></ht-column>
</ht-table>
<ht-page conf="confmort" style="height: 50px;padding-top: 5px"></ht-page>

<ht-legend>合同下保险列表</ht-legend>
<ht-table datasource="datasourceins" selected="selectedins" docheckbox="true" minheit="10px">
    <ht-column  eg-name="insuranceCode" zh-name="保单号" ></ht-column>
    <ht-column  eg-name="insuranceName" zh-name="保险公司名称" ></ht-column>
    <ht-column  eg-name="insuranceType" zh-name="保险类型" ></ht-column>
    <ht-column  eg-name="beneficiary" zh-name="受益人"></ht-column>
    <ht-column  eg-name="amount" zh-name="保险金额" type="currency"></ht-column>
    <ht-column  eg-name="startDate" zh-name="保险投保日" type="date"></ht-column>
    <ht-column  eg-name="endDate" zh-name="保险到期日" type="date"></ht-column>
</ht-table>
<ht-page conf="confins" style="height: 40px;padding-top: 1px"></ht-page>
