
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <ht-input ht-id="custcd" name="授信客户号" ng-model="conditionForm.custcd"></ht-input>
    <ht-input ht-id="cname"  name="授信客户名称" ng-model="conditionForm.cname"></ht-input>
    <ht-button-group >
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>客户信息列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">

    <ht-button-group>
        <ht-button ht-id="add" class="btn-primary">新增</ht-button>
        <ht-button ht-id="delete" class="btn-primary">删除</ht-button>
        <ht-button ht-id="update" class="btn-primary">修改</ht-button>
    </ht-button-group>

    <ht-column eg-name="custcd" zh-name="授信客户号" href="true" docolumn="column"></ht-column>
    <ht-column eg-name="cname" zh-name="授信客户名称" ></ht-column>
    <ht-column eg-name="orgCode" zh-name="组织机构代码"></ht-column>
    <ht-column eg-name="lastUpdTlrName" zh-name="经办人" ></ht-column>
    <ht-column eg-name="lastUpdBrName" zh-name="经办机构"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>




