<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <ht-input ht-id="matlName" name="材料名称" ng-model="conditionForm.matlName" ></ht-input>
    <ht-select ht-id="matlType"  name="材料类型"  dictionary="matlType" ng-model="conditionForm.matlType" ></ht-select>
    <ht-button-group class="left">
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="清空"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>业务调查材料列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-column eg-name="matlName" zh-name="材料名称"  href="true" docolumn="column" ></ht-column>
    <ht-column eg-name="productName" zh-name="产品名称"></ht-column>
    <ht-column eg-name="matlType" zh-name="材料类型" dictionary="matlType" ></ht-column>
    <ht-column eg-name="fileName" zh-name="文件名称"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>
<ht-button-group class="center">
    <ht-button ht-id="save" class="btn-primary">保存</ht-button>
    <ht-button ht-id="back" class="btn-primary">返回</ht-button>
</ht-button-group>




