<ht-legend>任务基本信息</ht-legend>
<ht-form name="taskform">
    <ht-input name="流程名称" ng-model="taskform.processTemplateName" disable="true"></ht-input>
    <ht-input name="申请发起时间" ng-model="taskform.startTaskDate" edit-type="date" disable="true"></ht-input>
    <ht-input ht-id="startTlrcdName" name="经办人" ng-model="taskform.startTlrcdName" disable="true"></ht-input>
    <ht-input ht-id="startBrcodeName" name="经办机构" ng-model="taskform.startBrcodeName" disable="true"></ht-input>
</ht-form>
<ht-form name="otherform">
    <ht-legend>基本信息</ht-legend>
    <ht-input ht-id="cnameSeller" name="卖方名称" disable="true" ng-model="otherform.cnameSeller"></ht-input>
    <ht-input-extent ht-id="cnameBuyer" name="买方名称" extent="buyerContent" on-change="buyerExtent"
                     reg-exp="common.require" ng-model="otherform.cnameBuyer"disable="{{viewdisable}}"></ht-input-extent>
    <ht-input ht-id="mastContno" name="合同号" disable="true" ng-model="otherform.mastContno"></ht-input>
    <ht-input ht-id="bussTypeName" name="业务品种" disable="true" ng-model="otherform.bussTypeName"></ht-input>
    <ht-input ht-id="startDate" name="合同生效日" disable="true" edit-type="date" ng-model="otherform.startDate"></ht-input>
    <ht-input ht-id="endDate" name="合同到期日" disable="true" edit-type="date" ng-model="otherform.endDate"></ht-input>

    <ht-legend>催收信息</ht-legend>
    <ht-input ht-id="insertDate" name="催收日期" disable="true" edit-type="date" ng-model="otherform.insertDate"></ht-input>
    <ht-select ht-id="pressMode" name="催收方式"  reg-exp="common.require" dictionary="pressMode" on-change="pressModeChange" ng-model="otherform.pressMode"disable="{{viewdisable}}"></ht-select>
    <ht-input ht-id="totalNum" name="应收账款催收总份数" disable ="true" edit-type="number" ng-model="otherform.totalNum"></ht-input>
    <ht-input ht-id="totalAmount" name="应收账款催收总额" disable="true" edit-type="currency" ng-model="otherform.totalAmount"></ht-input>
    <ht-text-area ht-id="memo" name="备注" ng-model="otherform.memo" disable="{{viewdisable}}"></ht-text-area>
</ht-form>

<ht-legend>催收应收账款列表</ht-legend>
<ht-button-group >
    <ht-button ht-id="add" class="btn-primary" hide="{{viewhide}}">新增</ht-button>
    <ht-button ht-id="delete" class="btn-primary" hide="{{viewhide}}">删除</ht-button>
</ht-button-group>
<ht-table ht-id="table" datasource="datasource" selected="selected" docheckbox="true">
    <ht-column eg-name="billsNo" zh-name="凭证编号" ></ht-column>
    <ht-column eg-name="billsType" zh-name="凭证类型" dictionary="billsType" ></ht-column>
    <ht-column eg-name="bussContcode" zh-name="商务合同号" ></ht-column>
    <ht-column eg-name="billsDate" zh-name="应收账款日期" type="date"></ht-column>
    <ht-column eg-name="debtEnd" zh-name="到期日" type="date"></ht-column>
    <ht-column eg-name="deadline" zh-name="最迟付款日" type="date"></ht-column>
    <ht-column eg-name="curcd" zh-name="币种" dictionary="curcd"></ht-column>
    <ht-column eg-name="billsAmountView" zh-name="票面金额" type="currency"></ht-column>
    <ht-column eg-name="billsAmount" zh-name="有效金额" type="currency"></ht-column>
    <ht-column eg-name="remainingAmount" zh-name="应收账款余额" type="currency"></ht-column>
    <ht-column eg-name="warnCount" zh-name="提示次数" type="number"></ht-column>
    <ht-column eg-name="pressCount" zh-name="催收次数" type="number"></ht-column>

</ht-table>
<ht-page conf="conf"></ht-page>
<ht-button-group class="center">
    <ht-button ht-id="save" class="btn-primary" hide="{{viewhide}}">保存</ht-button>
    <ht-button ht-id="sumbit" disable="{{disableButton}}" class="btn-primary" hide="{{viewhide}}">提交</ht-button>
    <ht-button ht-id="back" class="btn-primary" hide="{{hideback}}">返回</ht-button>
</ht-button-group>