<ht-form name="taskForm">
    <ht-legend>任务基本信息</ht-legend>
    <ht-input id="ext2" name="流程名称" ng-model="taskForm.ext2" disable="true"></ht-input>
    <ht-input id="stratDate" name="申请发起时间"ng-model="taskForm.stratDate" edit-type="date" disable="true"></ht-input>
    <ht-input id="tlrName" name="经办人" ng-model="taskForm.tlrName" disable="true"></ht-input>
    <ht-input id="brName" name="经办机构"ng-model="taskForm.brName" disable="true"></ht-input>
</ht-form>
<ht-form name ="applyInfo">
    <ht-legend>调价申请基本信息</ht-legend>

    <ht-input ht-id="appno" name="申请编号" disable="true" ng-model="applyInfo.appno"></ht-input>
    <ht-select ht-id="applyType" name="发起模式" datasource="selectSource" datatrsoption="value" dataoption="key" disable="true"  ng-model="applyInfo.applyType"></ht-select>

    <ht-input ht-id="appDate" name="调整时间" disable="true" reg-exp="common.require" edit-type="date" ng-model="applyInfo.appDate"></ht-input>
    <ht-input ht-id="confirmPrice" name="调整后单价"disable="{{Approve}}" reg-exp="common.require" edit-type="currency" ng-model="applyInfo.confirmPrice" ></ht-input>
    <ht-input-extent ht-id="mortgageLevelOneNm" name="押品一级" reg-exp="common.require" ng-model="applyInfo.mortgageLevelOneNm"
                     extent="levelOneContent" on-change="levelOnedooextent"disable="{{Approve}}"></ht-input-extent>
    <ht-input-extent ht-id="mortgageLevelTwoNm" name="押品二级" reg-exp="common.require" ng-model="applyInfo.mortgageLevelTwoNm"
                     extent="levelTwoContent" on-change="levelTwodooextent"disable="{{Approve}}"></ht-input-extent>
    <ht-input-extent ht-id="mortgageLevelThreeNm" name="押品三级" reg-exp="common.require" ng-model="applyInfo.mortgageLevelThreeNm"
                     extent="levelThreeContent" on-change="levelThreedooextent"disable="{{Approve}}"></ht-input-extent>
    <div  style="position:absolute;z-index:11;right:18.5%;top:309px">
        <ht-button ht-id="link" class="btn-primary" desc-name="押品关联抵/质押合同"></ht-button>
    </div>
    <ht-text-area name="备注"  disable="{{Approve}}" ng-model="applyInfo.description"></ht-text-area>

   </ht-form>

<ht-button-group class="center">
    <ht-button ht-id="save"  hide="{{Approve}}" disable="{{save}}" class="btn-primary">保存</ht-button>
    <ht-button ht-id="submit"  hide="{{Approve}}" disable="{{submit}}"  class="btn-primary">提交</ht-button>
</ht-button-group>
