
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <ht-input ht-id="loanAppno" name="出账流水号" ng-model="conditionForm.loanAppno"></ht-input>
    <ht-select ht-id="lnciType"  name="出账方式" dictionary="loanWay" ng-model="conditionForm.lnciType" disable="true"></ht-select>
    <ht-input ht-id="debetId" name="借据号/承兑协议号" ng-model="conditionForm.debetId"></ht-input>
    <ht-input ht-id="startDate" name="起始日期" edit-type="date" ng-model="conditionForm.startDate"></ht-input>
    <ht-button-group>
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>回显列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true"  minheit="150px">
    <ht-column eg-name="loanAppno" zh-name="出账流水号"></ht-column>
    <ht-column eg-name="debetId" zh-name="借据号/承兑协议号"></ht-column>
    <ht-column eg-name="mastContcode" zh-name="信贷合同号" dictionary="curcd"></ht-column>
    <ht-column eg-name="lnciType" zh-name="出账方式" dictionary="loanWay"></ht-column>
    <ht-column eg-name="startDate" zh-name="起始日期" type="date"></ht-column>
    <ht-column eg-name="endDate" zh-name="到期日期" type="date"></ht-column>
    <ht-column eg-name="lnciAmt" zh-name="借据金额" type="currency"></ht-column>
    <ht-column eg-name="lnciBal" zh-name="借据余额" type="currency"></ht-column>
    <ht-column eg-name="lnciStatus" zh-name="借据状态" dictionary ="lnciStatus"></ht-column>
    <ht-column eg-name="avaliableRiskAmt" zh-name="敞口余额"></ht-column>
    
</ht-table>
<ht-page conf="conf"></ht-page>

    <ht-button-group class="center">
        <ht-button ht-id="confirm"  class="btn-primary" desc-name="确定"></ht-button>
        <ht-button ht-id="cancel"  class="btn-primary" desc-name="关闭"></ht-button>
    </ht-button-group>






