<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name ="conditionForm">
    <ht-input-extent ht-id="cname" name="出质人名称" extent="custcontent" on-change="dooextend"
                     ng-model="conditionForm.cname"></ht-input-extent>
    <ht-input ht-id="slaveContno" name="质/押合同号" ng-model="conditionForm.slaveContno"></ht-input>
    <ht-button-group class="left">
        <ht-button ht-id="submit"  class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort"  class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>仓单信息列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">

    <ht-button-group>
        <ht-button ht-id="applyStart" class="btn-primary">发起申请</ht-button>
    </ht-button-group>
    <ht-column eg-name="slaveContno" zh-name="抵/质押合同号"></ht-column>
    <ht-column eg-name="billcode" zh-name="仓单编号"></ht-column>
    <ht-column eg-name="cname" zh-name="出质人名称"></ht-column>
    <ht-column eg-name="keeperName" zh-name="保管人名称"></ht-column>
    <ht-column eg-name="startDate" zh-name="开具日期" type="date"></ht-column>
    <ht-column eg-name="endDate" zh-name="截止日期" type="date"></ht-column>
    <ht-column eg-name="insuranceNo" zh-name="保险单号"></ht-column>
    <ht-column eg-name="address" zh-name="仓库地址"></ht-column>
</ht-table>
<ht-page conf="conf" style="height: 50px;padding-top: 5px"></ht-page>





