
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name="conditionForm">
    <ht-input ht-id="custName" name="买方名称" ng-model="conditionForm.custName"></ht-input>
    <ht-input ht-id="otherCustName" name="卖方名称" ng-model="conditionForm.otherCustName"></ht-input>
    <ht-input ht-id="protocolCode" name="担保提货协议号" ng-model="conditionForm.protocolCode"></ht-input>
    <ht-select ht-id="state" name="协议状态" ng-model="conditionForm.state" dictionary="threeProtocolStatus"></ht-select>
    <ht-input-extent
            name='经办机构' ht-id ='treeName' extent='content' on-change="dooextent"
            checkedHiden="true" readonly="true" ng-model='conditionForm.treeName'></ht-input-extent>
    <ht-button-group class="left">
        <ht-button ht-id="submit" class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort" class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>担保提货协议列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-column eg-name="protocolCode" zh-name="担保提货协议号" href="true" docolumn="column"></ht-column>
    <ht-column eg-name="productName" zh-name="业务品种"></ht-column>
    <ht-column eg-name="cname" zh-name="买方名称"></ht-column>
    <ht-column eg-name="coreName" zh-name="卖方名称"></ht-column>
    <ht-column eg-name="startDate" zh-name="协议生效日" type="date"></ht-column>
    <ht-column eg-name="endDate" zh-name="协议到期日" type="date"></ht-column>
    <ht-column eg-name="tlrno" zh-name="客户经理"></ht-column>
    <ht-column eg-name="brcode" zh-name="经办机构"></ht-column>
    <ht-column eg-name="state" zh-name="状态" dictionary="threeProtocolStatus"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>
<!--<ht--position batchNo="1" bindName="abc"/>-->