<ht-form name="loaninfo">
	<ht-input ht-id="debetId" name="借据号/承兑协议号" disable="true" ng-model="loaninfo.debetId"></ht-input>
    <ht-input ht-id="mastContno" name="信贷合同号" disable="true" ng-model="loaninfo.mastContno"></ht-input>
     <ht-select ht-id="lnciType"  name="出账方式" disable ="true" dictionary="loanWay"    ng-model="loaninfo.lnciType"></ht-select>
     <ht-input ht-id="lnciBal" name="借据余额" disable="true"  edit-type="currency"  ng-model="loaninfo.lnciBal"></ht-input>
      <ht-input ht-id="startDate" name="起始日" disable="true" edit-type="date" ng-model="loaninfo.startDate"></ht-input>
     <ht-input ht-id="endDate" name="到期日" disable="true" edit-type="date" ng-model="loaninfo.endDate"></ht-input>
      <ht-input ht-id="bailAccount" name="保证金账号" ng-model="loaninfo.bailAccount" ></ht-input> 
      <ht-input ht-id="repayAmount"  name="还款金额" ng-model="loaninfo.repayAmount" edit-type="currency" ></ht-input> 
</ht-form>
<ht-button-group class="center">
    <ht-button ht-id="save" class="btn-primary">确定</ht-button>
</ht-button-group>

