
<ht-form name="otherform">
    <ht-legend>基本信息</ht-legend>
    <ht-input name="授信客户名称" reg-exp="common.require" ng-model="otherform.name" disable="true"></ht-input>
    <ht-input name="信贷合同号" reg-exp="common.require" ng-model="otherform.appId" disable="true"></ht-input>
    <ht-input name="额度协议流水号" ng-model="otherform.creditProId" disable="true"></ht-input>
    <ht-select name="信贷合同状态" reg-exp="common.require" ng-model="otherform.appStatus" dictionary="contraceState" disable="true"></ht-select>
    <ht-select name="出账方式" reg-exp="common.require" ng-model="otherform.loanWay" dictionary="loanWay" disable="true"></ht-select>
    <ht-select name="币种" reg-exp="common.require" ng-model="otherform.curcd" dictionary="curcd" disable="true"></ht-select>
    <ht-select name="循环标识" ng-model="otherform.xh" dictionary="circFlag" disable="true"></ht-select>
    <ht-input name="信贷合同金额" reg-exp="common.require" ng-model="otherform.totAmt" edit-type="currency" disable="true"></ht-input>
    <ht-input name="信贷合同总敞口" reg-exp="common.require" ng-model="otherform.totAmt" edit-type="currency" disable="true"></ht-input>
    <ht-input name="信贷合同可用敞口" reg-exp="common.require" ng-model="otherform.lnSum" edit-type="currency" disable="true"></ht-input>
    <ht-input name="信贷合同生效日" reg-exp="common.require" ng-model="otherform.htsxr" edit-type="date" disable="true"></ht-input>
    <ht-input name="信贷合同到期日" reg-exp="common.require" ng-model="otherform.htdqr" edit-type="date" disable="true"></ht-input>
    <ht-select name="业务品种" reg-exp="common.require" ng-model="otherform.vidBusTyp" dictionary="vidBusTyp" disable="true"></ht-select>
    <ht-input name="监管合同号" reg-exp="common.require" ng-model="otherform.jght" disable="true" ></ht-input>
    <ht-input name="抵/质押合同号" reg-exp="common.require" ng-model="otherform.vidNo" disable="true" ></ht-input>
    <ht-input name="抵质押率" reg-exp="common.require" ng-model="otherform.dzyl" disable="true" ></ht-input>
    <ht-input name="最低控货价值" reg-exp="common.require" ng-model="otherform.zdkhjz" disable="true" ></ht-input>
    <ht-input name="现货押品总价值" reg-exp="common.require" ng-model="otherform.xhypzjz" edit-type="currency" disable="true" ></ht-input>
    <ht-input name="可融资金额" reg-exp="common.require" ng-model="otherform.krzje" edit-type="currency" disable="true"></ht-input>
    <ht-input name="本笔风险敞口" reg-exp="common.require" ng-model="otherform.bbfxck" edit-type="currency" disable="true"></ht-input>
    <ht-input name="监管公司名称" reg-exp="common.require" ng-model="otherform.jggsmc" disable="true" ></ht-input>
    <ht-input name="敞口余额" reg-exp="common.require" ng-model="otherform.ckye" edit-type="currency" disable="true"></ht-input>
    <ht-legend>融资信息</ht-legend>
    <ht-input name="借据号" reg-exp="common.require" ng-model="otherform.debetNo" disable="true"></ht-input>
    <ht-input name="借据金额" reg-exp="common.require" ng-model="otherform.jjje" edit-type="currency" disable="true"></ht-input>
    <ht-input name="起息日期" reg-exp="common.require" ng-model="otherform.qxrq" edit-type="date" disable="true"></ht-input>
    <ht-input name="到期日" reg-exp="common.require" ng-model="otherform.dqrq" edit-type="date" disable="true"></ht-input>
    <ht-input name="入账机构" ng-model="otherform.rzjgName" disable="true"></ht-input>
    <ht-select name="还款方式" ng-model="otherform.hkfs" dictionary="rtnTyp" disable="true"></ht-select>
    <ht-input name="宽限期" reg-exp="common.require" ng-model="otherform.kxq" disable="true"></ht-input>
    <ht-input name="初始保证金总额" reg-exp="common.require" ng-model="otherform.csbzjje" edit-type="currency" disable="true"></ht-input>
    <ht-input name="初始保证金比例(%)" reg-exp="common.require" ng-model="otherform.csbzjbl" disable="true"></ht-input>
    <ht-input name="初始现金等价物金额" reg-exp="common.require" ng-model="otherform.csxjdjwbl" edit-type="currency" disable="{{disable}}"></ht-input>

    <ht-legend>利率信息</ht-legend>
    <ht-input name="利率代码" reg-exp="common.require" ng-model="otherform.lldm" disable="true"></ht-input>
    <ht-select name="利率浮动方式" reg-exp="common.require" ng-model="otherform.llfdfs" dictionary="intFltTyp" disable="true"></ht-select>
    <ht-select name="利率调整方式" reg-exp="common.require" ng-model="otherform.fdlltzfs" dictionary="intAdj" disable="true"></ht-select>
    <ht-input name="利率浮动值" reg-exp="common.require" ng-model="otherform.llfdz" disable="true"></ht-input>
    <ht-input name="基准利率(%)" reg-exp="common.require" ng-model="otherform.jzlv" disable="true"></ht-input>
    <ht-input name="执行利率(%)" reg-exp="common.require" ng-model="otherform.zxll" disable="true"></ht-input>
</ht-form>

<div id="showIdea" style="display: none">
<ht-legend>历史审批意见</ht-legend>
<ht-table ht-id="tableId" datasource="datasourcetask" selected="selectedtask" docheckbox="true">
    <ht-column eg-name="taskName" zh-name="任务名称"></ht-column>
    <ht-column eg-name="taskComment" zh-name="审批意见"></ht-column>
    <ht-column eg-name="name5" zh-name="处理人"></ht-column>
    <ht-column eg-name="assignId" zh-name="处理人编号"></ht-column>
    <ht-column eg-name="dealTime" zh-name="处理时间"></ht-column>
</ht-table>
<!-- <ht-page conf="conftask"></ht-page>
<ht-legend>审批意见</ht-legend>
<ht-form name="applyDtlForm">
    <ht-text-area ht-id="taskComment" name="审批意见" height="70" ng-model="applyDtlForm.taskComment"></ht-text-area>
</ht-form> -->
</div>

<ht-button-group class="center">
    <ht-button ht-id="ysxhconfirm" class="btn-primary" hide="{{hidd}}" disable="{{savedisable}}">保存</ht-button>
    <ht-button ht-id="xhdybltj" class="btn-primary" hide="{{hidd}}" disable="{{sumbitdisable}}">提交</ht-button>
</ht-button-group>
