
<ht-legend colorId="lawngreen">查询条件</ht-legend>
<ht-form name="conditionForm">
    <ht-input ht-id="cnameBuyer_Q" name="买方名称" ng-model="conditionForm.cnameBuyer_Q"></ht-input>
    <ht-input ht-id="protocolCode_Q" name="先票/款后货协议号" ng-model="conditionForm.protocolCode_Q"></ht-input>
    <ht-select ht-id="checkType_Q" name="对账方式" ng-model="conditionForm.checkType_Q" dictionary="checkType"></ht-select>
    <br/>
    <ht-input ht-id="startDate_Q" name="预警日期 从" ng-model="conditionForm.startDate_Q" edit-type="date"
            high-date-id="endDate_Q"></ht-input>
    <ht-input ht-id="endDate_Q" name=" 到" ng-model="conditionForm.endDate_Q" edit-type="date"
            lower-date-id="startDate_Q"></ht-input>
    <ht-button-group class="left">
        <ht-button ht-id="submit" class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="rebort" class="btn-primary" desc-name="重置"></ht-button>
        <ht-button ht-id="homeBack" class="btn-primary" hide="{{homeBackHide}}" desc-name="返回主页"></ht-button>
    </ht-button-group>
</ht-form>

<ht-legend>对账不平预警列表</ht-legend>
<ht-table ht-id="tableId" datasource="datasource" selected="selected" docheckbox="true">
    <ht-column eg-name="protocolNo" zh-name="先票/款后货协议号"></ht-column>
    <ht-column eg-name="cnameBuyer" zh-name="买方名称"></ht-column>
    <ht-column eg-name="cnameSeller" zh-name="卖方名称"></ht-column>
    <ht-column eg-name="productName" zh-name="业务品种"></ht-column>
    <ht-column eg-name="startDate" zh-name="对账发起日"></ht-column>
    <ht-column eg-name="confirmDate" zh-name="对账确认日"></ht-column>
    <ht-column eg-name="checkType" zh-name="对账方式" dictionary="checkType"></ht-column>
    <ht-column eg-name="checkResult" zh-name="对账结果" dictionary="checkResult"></ht-column>
    <ht-column eg-name="mgrName" zh-name="客户经理"></ht-column>
    <ht-column eg-name="brName" zh-name="经办机构" ></ht-column>
    <ht-column eg-name="checkStatus" zh-name="对账状态" dictionary="checkStatus"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>